<h1>Chat</h1>
<hr>

<div class="app-messages" id="app-messages">

  <div class="text-right" *ngFor="let chatFor of chat.chats"
       [ngClass]="{ 'text-right': chat.myUser.uid == chatFor.uid }">
    <span [ngClass]=" { 'badge-success': chat.myUser.uid == chatFor.uid,
                        'badge-primary': chat.myUser.uid != chatFor.uid }"
          class="badge"> {{ chatFor.name }}</span>
    <p>
      {{ chatFor.message }}
    </p>
  </div>

</div>

<input type="text" class="form-control" name="message"
       [(ngModel)]="message"
       (keyup.enter)="sendMessage()"
       placeholder="Send message" >
